$marmalade-blue = #002d59

html
    background-color $marmalade-blue

html, body, *
    margin 0
    padding 0
    font-family Verdana, Arial, Helvetica, sans-serif
    font-weight 600
    box-sizing border-box
    color: #FFF

#app
    width 100vw
    height 99vh
