.login
    width 100vw
    padding 20px
    font-size 24px

.login > *:not(:first-child)
  margin-top 20px

.input-error
  border-color #f44

.login-form
    display grid
    grid-template-columns 1fr
    grid-template-rows 1fr
    grid-gap 10px

.login-input
    color #000
    align-self center
    width 100%
    font-size 1.4rem
    padding 5px

.login-label
    align-self center

.login--remember-me
    display flex
    align-items center

.login-label--remember-me
    margin-left 15px

.login-input--remember-me
    width 24px
    height 24px

.error
  background-color #f44
  padding 10px
  text-align center
