$red = #800
$green = #080

.button-container
    .button-circle-container
        max-height 99vh

    &--started .button-circle
        fill $red

    &--stopped .button-circle
        fill $green

    .text
        fill #fff
        text-anchor middle
        dominant-baseline middle
        font-size 170%
